{:system {:personal-rss-feed.queue/queue
          {:dev.freeformsoftware.simple-queue.core/persistence-dir    "/tmp/simple-queue/personal-rss-server"
           :dev.freeformsoftware.simple-queue.core/default-timeout-ms 100000 ;; 100s
           :dev.freeformsoftware.simple-queue.core/watchdog-ms        1000
           }

          :personal-rss-feed.feed.s3/s3
          {:hostname          "garage-ct.lan"
           :port              3900
           :region            "us-west-1"
           :access-key-id     "GKf824d02222f93cb03b3144a1"
           :secret-access-key #n/ref :s3/secret-access-key}

          :personal-rss-feed.feed.db/conn
          {:uri "/tmp/datalevin/personal-rss-server"}

          :personal-rss-feed.ingest.lotus-eaters/lotus-eaters-ingest
          {:start-cron? false
           :apply-playwright-cli-fix? true
           :db/conn     #ig/ref :personal-rss-feed.feed.db/conn
           :queue #ig/ref :personal-rss-feed.queue/queue}

          :personal-rss-feed.feed.feed-host/server
          {:jetty            {:port 3000}
           :db/conn          #ig/ref :personal-rss-feed.feed.db/conn
           :public-s3-prefix #n/ref :s3/public-s3-prefix    ;; Only semi secret, but preferable to not post on the internet.
           }}
 ; :lotus-eaters/username "username"
 ; :lotus-eaters/password "password"
 ; :s3/secret-access-key "s3-secret-access-key"
 ; :s3/public-s3-prefix  "https://s3.amazaonaws....com/prefix/" to be appended with "uuid.extension"

 }