#!/usr/bin/env bash
# the shebang is ignored, but nice for editors

use nix

PATH_add bin
CHROME_LOCATION=$(which google-chrome-stable)
export CHROME_LOCATION
export PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=true
export DEBUG="pw:install"
export PLAYWRIGHT_CLI_LOCATION="$PWD/bin"

