/.idea/
/.prod-data/
/playwright-cli-dir--bin/*
/node_modules/*
/personal-rss-reserver.iml
/resources/config/secrets.edn
/.direnv/
/.portal/
/.cpcache/
/target/
/.shadow-cljs/*
resources/public/js/
/tmp/
.clj-kondo/*
.lsp/.cache/*
.calva/*
.nrepl-port
result