{:binding {:indent 0, :justify {:max-variance 100}, :justify? true},
 :fn-map {"defn" :arg2-force-nl-body,
          "defn-" "defn",
          ">defn" "defn",
          "defstate" "defn",
          "defsc" :arg2-force-nl-body,
          "defmutation" :arg2-force-nl-body,
          "defrouter" "defsc",
          ":require" [:force-nl-body {:list {:indent 1}}],
          "apply" :none,
          "filter" :none,
          "filterv" :none,
          "map" :none,
          "mapv" :none,
          "reduce" :none,
          "remove" :none,
          "with-meta" :none-body,
          "->>" :none,
          "->" "->>",
          "swap!->" "->",
          "some->" "->",
          "div" [:arg1-body {:list {:indent 2}}],
          "span" [:arg1-body {:list {:indent 2}}],
          "button" [:arg1-body {:list {:indent 2}}],
          "table" [:arg1-body {:list {:indent 2}}],
          "thead" [:arg1-body {:list {:indent 2}}],
          "tbody" [:arg1-body {:list {:indent 2}}],
          "tr" [:arg1-body {:list {:indent 2}}],
          "th" [:arg1-body {:list {:indent 2}}],
          "td" [:arg1-body {:list {:indent 2}}],
          "label" [:arg1-body {:list {:indent 2}}],
          "h1" [:arg1-body {:list {:indent 2}}],
          "h2" [:arg1-body {:list {:indent 2}}],
          "h3" [:arg1-body {:list {:indent 2}}],
          "h4" [:arg1-body {:list {:indent 2}}],
          "h5" [:arg1-body {:list {:indent 2}}],
          "h6" [:arg1-body {:list {:indent 2}}],
          "svg" [:arg1-body {:list {:indent 2}}],
          "path" [:arg1-body {:list {:indent 2}}],
          "p" [:arg1-body {:list {:indent 2}}],
          "input" [:arg1-body {:list {:indent 2}}],
          "form" [:arg1-body {:list {:indent 2}}],
          "i" [:arg1-body {:list {:indent 2}}],
          "a" [:arg1-body {:list {:indent 2}}],
          "em" [:arg1-body {:list {:indent 2}}],
          "strong" [:arg1-body {:list {:indent 2}}],
          "hr" [:arg1-body {:list {:indent 2}}],
          "ul" [:arg1-body {:list {:indent 2}}],
          "ol" [:arg1-body {:list {:indent 2}}],
          "li" [:arg1-body {:list {:indent 2}}],
          "textarea" [:arg1-body {:list {:indent 2}}],
          "set-state!" [:arg1-body {:list {:indent 2}}],
          "defattr" [:arg1-body {:list {:indent 2}, :map {:justify? true}}],
          "sp/cond-path" [:arg1-body {:list {:indent 2}}],
          ;; fulcro spec related nicities
          "specification" [:arg1-body {:list {:indent 2, :wrap? true}}],
          "component" [:arg1-body {:list {:indent 2, :wrap? true}}],
          "behavior" [:arg1-body {:list {:indent 2, :wrap? true}}],
          "prvided" [:arg1-body {:list {:indent 2, :wrap? true}}]},
 :list {:indent-arg 1},
 :map {:comma? false,
       :indent 0,
       :justify {:max-variance 100},
       :justify? true,
       :sort? false},
 :pair {:indent 0, :justify {:max-variance 100}, :justify? true},
 :reader-cond {:indent 0},
 :set {:sort? false},
 :style [:respect-nl :community :how-to-ns],
 :width 120}
